.chat-room-container {
  position: fixed;
  width: 280px;
  height: 350px;
  right: 5px;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  margin: 8px;
  border: 1px solid grey;
  border-radius: 10px;
  background: linear-gradient(rgba(218, 196, 147, 0.5), rgba(165, 198, 211, 0.81)),url('https://images7.alphacoders.com/419/thumb-1920-419726.jpg');
  background-size: cover;
}

.room-name {
  position: absolute;
  top: 60px;
  left: 30px;
}

.messages-container {
  width: 280px;
  height: 200px;
  flex: 1;
  min-height: 100px;
  overflow: auto;
  border-radius: 7px 7px 0 0;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}


.new-message-input-field {
  height: 40px;
  max-height: 50%;
  font-size: 20px;
  padding: 4px 6px;
  resize: none;
}

.message-item {
  width: 45%;
  margin: 8px;
  padding: 5px 4px;
  word-break: break-word;
  border-radius: 4px;
  color: white;
}

.my-message {
  background-color: rgba(60, 145, 225, 0.872);
  margin-left: auto;
}

.received-message {
  background-color: #3f4042db;
  margin-right: auto;
}

.send-message-button {
  font-size: 24px;
  font-weight: 500;
  color: white;
  background: #31a24beb;
  padding: 0 12px;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
