.App {
  text-align: center;
}

.header-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  font-size: 40px;
  background-color: black;
  color: white;
}
@media(max-width: 600px){
  .header-footer > span {
    font-size: 30px;
  }
}

.header-logo {
  position: relative;
  bottom: 3px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

span {
  transition: transform .2s
}

span:hover {
  transform: scale(1.1)
}

a:hover {
  text-decoration: none;
}